<template>
    <div class="container">
        <div class="navigation-links">
            <input type="radio" id="sign-in-btn" v-model="formChange" value="sign-in">
            <label for="sign-in-btn" class="sign-in-btn-label">Sign In</label>

            <input type="radio" id="sign-up-btn" v-model="formChange" value="sign-up">
            <label for="sign-up-btn" class="sign-up-btn-label">Sign Up</label>
        </div>

        <div v-if="formChange == 'sign-up'" class="sign-up">
            <SignUp></SignUp>
        </div>

        <div v-else class="sign-in">
            <SignIn></SignIn>
        </div>
    </div>
</template>
<script>
    import * as types from "@/stores/modules/auth/types";
    import SignIn from "@/components/SignIn";
    import SignUp from "@/components/SignUp";

    export default {
        name: "Navigation",
        components: {
          SignIn,
          SignUp,
        },
        data() {
            return {}
        },
        computed: {
          formChange: {
              get() {
                  return this.$store.state.auth.formChange;
              },
              set(value) {
                    this.$store.dispatch('auth/' + types.A_CHANGE_FORM, value);
              }
          }
        },
        methods: {
            registration() {
                this.$store.dispatch('auth/' + types.A_SIGN_UP, this.signUp)
                    .then(res => {
                        this.$router.push('signin')
                    });
            },
            login() {
                this.$store.dispatch('auth/' + types.A_SIGN_IN, this.signIn)
                    .then(res => {
                        this.$router.push('/')
                    });
            }
        }
    }
</script>
<style lang="scss">
    .navigation-links {
        padding-top: 100px;
        a {
            margin: 10px 20px;
            display: inline-block;
        }
    }

    #sign-in-btn, #sign-up-btn {
        display: none;
    }

    .sign-in-btn-label, .sign-up-btn-label {
        height: 30px;
        align-items: center;
        cursor: pointer;
        font-size: 16px;
        font-weight: 500;
        position: relative;
        text-align: center;
        padding: 10px;
    }

    .sign-in-btn-label::before, .sign-up-btn-label::before {
        content: '';
        display: inline-block;
        position: absolute;
        bottom: 0;
        width: 0;
        height: 3px;
        background-color: #276CDA;
        transition: 0.2s;
    }

    .sign-in-btn-label::before {
        right: 0;
    }

    .sign-up-btn-label::before {
        left: 0;
    }

    #sign-in-btn:checked + label::before,
    #sign-up-btn:checked + label::before {
        width: 100%;
        transition: 0.2s;
    }

    .sign-up, .sign-in {
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;

        label{
            text-align: left;
            margin: 0;
            font-size: 13px;
            font-weight: 400;
            color: #999;
        }
        button {
            width: 100%;
        }
    }
</style>