<template>
    <div class="sign-up-form column is-4">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="email" v-model="fields.email">
            </div>
        </div>
        <div class="field">
            <label class="label">User name</label>
            <div class="control">
                <input class="input" type="text" v-model="fields.username">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" v-model="fields.password">
            </div>
        </div>
        <div class="field">
            <label class="label">Confirm password</label>
            <div class="control">
                <input class="input" type="password" v-model="fields.confirmPassword">
            </div>
        </div>
        <div class="control">
            <button class="button is-link" @click.prevent="signUp">Sign Up</button>
        </div>
    </div>
</template>

<script>
    import * as types from "@/stores/modules/auth/types";
    export default {
        name: "SignUp",
        data() {
            return {
                fields: {
                    email: "",
                    username: "",
                    password: "",
                    confirmPassword: ""
                }

            }
        },
        methods: {
            signUp() {
                this.$store.dispatch('auth/' + types.A_SIGN_UP, this.fields)
                    .then(res => {
                        this.$store.dispatch('auth/' + types.A_CHANGE_FORM, "sign-in");
                    });
            }
        }
    }
</script>
<style lang="scss" scoped>
    .sign-up {
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        button {
            width: 100%;
        }
    }
</style>