<template>
    <div class="sign-in-form column is-4">
        <div class="field">
            <label class="label">Email</label>
            <div class="control">
                <input class="input" type="email" v-model="fields.email">
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control">
                <input class="input" type="password" v-model="fields.password">
            </div>
        </div>
        <div class="control">
            <button class="button is-link" @click.prevent="signIn">Sign In</button>
        </div>
    </div>
</template>

<script>
    import Nav from "@/components/Navigation";
    import * as types from "@/stores/modules/auth/types";
    export default {
        name: "SignIn",
        components: {
          Nav
        },
        data() {
            return {
                fields: {
                    email: "",
                    password: "",
                }
            }
        },
        methods: {
            signIn() {
                this.$store.dispatch('auth/' + types.A_SIGN_IN, this.fields)
                    .then(res => {
                        this.$router.push('/')
                    });
            }
        }
    }
</script>
<style lang="scss" scoped>
    .sign-up {
        height: 100%;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        button {
            width: 100%;
        }
    }
</style>